#todo td.checked {
  text-decoration: line-through; }

#todo td.hide {
  opacity: 0.5; }

#todo .flex {
  display: flex; }

#todo th, #todo td {
  padding: 15px;
  text-align: left; }

#todo table, #todo th, #todo td {
  border: 1px solid #b4b4b4; }

#todo table {
  border-collapse: collapse; }
